

.aboutimg{

  width=100%;
  height=250px!important;
 }

.news1 ,h1{

 color:red;

}

.news2 ,p{

  
  font-family: 'PT Serif', serif;  
}

.card-img-top{

  height=30% !important;
}

.mar{
  
 direction="left";
 scrolldelay="100";
 margin-bottom:70px;
 margin-top:3px;
 background-color:#dc3545;
 color:white
 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}