body{
  
  height:100%; 
  margin: 0;
  font-family: Arial;
}

* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
 
}


.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width:100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #dfd95f, 0 0 40px #dfd95f, 0 0 50px #dfd95f, 0 0 60px #dfd95f, 0 0 70px #dfd95f, 0 0 80px #dfd95f;
  }
}


